{
    "groups": {
        "admin": {
            "filesystem": {
                "read": true,
                "write": true,
                "create": true,
                "delete": true,
                "share": true
            },
            "apps": {
                "files": true,
                "settings": true,
                "users": true,
                "groups": true
            }
        },
        "member": {
            "filesystem": {
                "read": true,
                "write": true,
                "create": true,
                "delete": false,
                "share": false
            },
            "apps": {
                "files": true,
                "settings": false,
                "users": false,
                "groups": false
            }
        }
    }
}
